.h1Assis {
  margin-bottom: 40px;
}

.left-container-inside {
  margin-top: 0px; /* Ajuste para mover el formulario arriba en dispositivos móviles */
}

.appointment-list {
  width: 100%;
  max-width: 500px;
}

.appointment-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilos del formulario de aprobación */
.approve-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.approve-form h2 {
  margin-bottom: 10px;
}

.approve-form label {
  display: block;
  margin-bottom: 10px;
}

.approve-form input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.approve-form button {
  padding: 10px 20px;
  background-color: var(--selection-day-color);
  color: var(--text-inverted);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.approve-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .left-container-inside {
    margin-top: 0; /* Eliminar el margen superior en dispositivos móviles */
  }

  .approve-form,
  .appointment-list {
    max-width: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .appointment-item {
    padding: 8px;
  }

  .approve-form {
    padding: 15px;
  }

  .approve-form input {
    font-size: 14px;
  }
}
