/* Estilos para la tarjeta del historial */
.historial-card {
    background-color: var(--accent);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .historial-card:hover {
    background-color: #f1f1f1;
  }
  
  .historial-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .historial-card p {
    margin: 5px 0;
    font-size: 1rem;
    color: black;
  }
  
  /* Contenedor para las tarjetas */
  .card-style-mt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .pacienteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pacienteContainer > h1 {
    margin-bottom: 40px;
    font-size: 22px;
  }
  
  /* Contenedor principal que ocupa toda la altura de la ventana y centra el contenido */
  .PadreHomeUser {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .UserHome {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex: 1 0 auto;
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
  
  .left-container-user {
    width: 65%;
    display: flex;
    justify-content: flex-start; /* Alinea el contenido al principio */
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 70px;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    max-height: 80vh; /* Ajusta la altura máxima para permitir el desplazamiento */
    -ms-overflow-style: none;  /* Oculta barra de desplazamiento en IE y Edge */
    scrollbar-width: none;  /* Oculta barra de desplazamiento en Firefox */
  }
  
  .left-container-user::-webkit-scrollbar {
    display: none; /* Oculta barra de desplazamiento en Chrome, Safari y Opera */
  }
  
  .right-container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
  }
  
  .btnUserHome {
    border: none;
    padding: 0.5rem;
    width: 160px;
    margin-top: 25px;
    background-color: var(--selection-day-color);
    color: var(--text-inverted);
    border-radius: 20px;
  }
  
  .date-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .date-form label {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .date-form input {
    padding: 5px;
    font-size: 1rem;
  }
  
  .date-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .date-form button:hover {
    background-color: #0056b3;
  }

  

  
  /* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .UserHome {
      flex-direction: column;
      height: 100vh;
    }
  
    .left-container-user,
    .right-container-user {
      width: 100%;
      min-width: 100%;
      justify-content: center;
      align-items: center;
    }
  
    .left-container-user {
      height: 100%;
    }
  
    .right-container-user {
      background-color: aliceblue;
    }
  
    .h1-user {
      margin-top: 245px;
    }
  }
  
  /* Media Queries para pantallas móviles */
  @media (max-width: 480px) {
    .historial-card {
      padding: 15px;
      width: 70%;
    }
  
    .historial-card h3 {
      font-size: 1.2rem;
    }
  
    .historial-card p {
      font-size: 0.9rem;
    }

  
    .UserHome {
      padding: 10px;
    }
  
    .btnUserHome {
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      font-size: 1rem;
    }
  }